<div id="about" class="panel">
  <img src="/static/images/about/groupphoto.jpg">
  <img class="clienttext" src="/static/images/about/clienttext.png">
  <img class="clients" src="/static/images/about/clients.png">
  <img src="/static/images/about/aboutustext.png">
</div>
