<div id="contact" class="panel">
  <h1>Have a project in mind?</h1>
  <form>
    <label>Name:</label>
    <input type="text" name="name" required>

    <label>Company:</label>
    <input type="text" name="company">

    <label>E-Mail:</label>
    <input type="email" name="email" required>

    <label>Budget:</label>
    <div class="slider"></div>

    <label>Project:</label>
    <textarea name="project" required></textarea>

    <input type="submit" value="">
  </form>
</div>
