<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <title>Three20Three</title>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="nav">
          <a class="nav-button work" href="/"></a>
          <a class="nav-button about" href="/about"></a>
          <a class="nav-button services" href="/services"></a>
        </div>
        <div id="connect">
          <a class="connect-button email" href="/contact"></a>
          <a class="connect-button facebook" href="https://www.facebook.com/Three20Three" target="_blank"></a>
          <a class="connect-button youtube" href="http://www.youtube.com/323pgh" target="_blank"></a>
          <div class="fb-like" data-href="http://www.facebook.com/Three20Three" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-colorscheme="dark"></div>
        </div>
        <a id="logo" href="/"></a>
      </div>
    </div>
    <div id="content">
