<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <title>Three20Three</title>
  </head>
  <body>
    <div id="header">
      <div id="nav">
        <a class="nav-button work" href="#"></a>
        <a class="nav-button about" href="#"></a>
        <a class="nav-button services" href="#"></a>
        <a class="nav-button contact" href="#"></a>
      </div>
      <div id="connect">
        <div class="label"></div>
        <a class="connect-button facebook" href="#"></a>
        <a class="connect-button twitter" href="#"></a>
        <div class="connect-button">
          <!-- facebook like -->
        </div>
      </div>
      <div id="logo"></div>
    </div>
    <div id="content">
