<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <title>Three20Three</title>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="nav">
          <a class="nav-button work" href="#"></a>
          <a class="nav-button about" href="/about"></a>
          <a class="nav-button services" href="#"></a>
        </div>
        <div id="connect">
          <a class="connect-button email" href="#"></a>
          <a class="connect-button facebook" href="#"></a>
          <a class="connect-button youtube" href="#"></a>
          <div class="fb-like" data-href="http://www.facebook.com/Three20Three" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-colorscheme="dark"></div>
        </div>
        <div id="logo"></div>
      </div>
    </div>
    <div id="content">
