{{> header}}
<h1>We are Three20Three.</h1>
<h5>And we are awesome. Because one of our editors has a legal middle name of Megatron. What's your middle name? Probably Joseph. So lame.</h5>

<div id="tiles">
  <div class="container">
    <img src="static/images/tiles/cinematography.png" class="cinema"></img>
    <img src="static/images/tiles/tomlinshow.png" class="tomlin"></img>
    <img src="static/images/tiles/dawning.png" class="dawning"></img>
    <img src="static/images/tiles/FBintro.png" class="intro"></img>
  </div>
</div>
{{> footer}}
