<div id="services" class="panel">
  <h1>Let's chat. Call us! <span class="highlight">724.816.0498</span></h1>
  <div class="row">
    <img src="/static/images/services/preproduction.png">
    <img src="/static/images/services/preproduction-2.jpg">
  </div>
  <div class="row">
    <img src="/static/images/services/production.png">
    <img src="/static/images/services/production-2.jpg">
  </div>
  <div class="row">
    <img src="/static/images/services/postproduction.png">
    <img src="/static/images/services/postproduction-2.jpg">
  </div>
</div>
