@plain-text: #fff;
@highlight-text: #9db2ff;

@image-path: "/static/images";
@sprite-main: url("@{image-path}/sprite-main.png");

.clearfix { zoom: 0; }
.sprite { 
  background-repeat: no-repeat;
  .main { background-image: @sprite-main; }
}
.highlight { color: @highlight-text; }

h1 {
  font-family: Georgia;
  font-size: 60px;
}

h5 {
  font-size: 25px;
}

img { border: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: rgb(3, 1, 14);
}

#header {
  .clearfix;
  z-index: 100;
  width: 100%;
  height: 182px;
  background-image: url("@{image-path}/headerBG.png");
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;

  .tile {
    background-image: url("@{image-path}/headerBG-tile.png");
    background-repeat: repeat-x;
    width: 1000px;
    height: 138px;
    display: block;
    position: absolute;
  }

  .container {
    width: 960px;
    position: relative;
    margin: 0 auto;

    &::before {
      #header.tile;
      content: "";
      top: -10px;
      right: 1080px;
    }

    &::after {
      #header.tile;
      content: "";
      top: -10px;
      left: 1080px;
    }

    #nav {
      position: absolute;
      padding-top: 36px;
      left: 20px;

      .nav-button {
        .sprite.main;
        display: inline-block;
        height: 10px;
        margin-right: 30px;

        &.work {
          width: 52px;
          background-position: -100px -16px;
          &:hover { background-position: 0 -15px; }
        }
        &.about {
          width: 62px;
          background-position: -99px -32px;
          &:hover { background-position: 0 -32px; }
        }
        &.services {
          width: 90px;
          background-position: -100px 0;
          &:hover { background-position: 0 0; }
        }
      }
    }
    #connect {
      position: absolute;
      padding-top: 18px;
      right: 20px;

      * {
        display: inline-block;
        margin-right: 5px;
      }

      .connect-button {
        .sprite.main;
        width: 42px;
        height: 42px;
        position: relative;

        &.email { background-position: -199px -45px; }
        &.facebook { background-position: -199px -90px; }
        &.youtube { background-position: -199px 0; }
      }

      .fb-like {
        position: relative;
        top: -14px;
      }
    }
    #logo {
      .sprite.main;
      display: block;
      width: 189px;
      height: 89px;
      background-position: 0 -50px;
      margin: 10px auto;
    }
  }
}

#content {
  padding-top: 80px;
  min-height: 1000px;
  background-image: url("@{image-path}/background.jpg");
  background-position: 0px -100px;
  background-repeat: no-repeat;
  color: @plain-text;
  text-align: center;

  h5 {
    margin: -40px auto 20px;
    width: 1000px;
  }

  #introtext {
    margin: 0 auto;
    background-image: url("@{image-path}/index/introtext.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 960px;
    height: 267px;
  }

  #tiles {
    position: relative;
    margin: 120px auto;
    width: 960px;
    height: 470px;

    .tile {
      position: absolute;
      cursor: pointer;

      img { width: 100%; }

      .rollover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
      }

    }
  }

  #blackout {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
    width: 100%;
    height: 100%;
    display: none;
  }

  #popout {
    display: none;
    width: 960px;
    height: 535px;
    position: relative;
    margin: 120px auto;
    top: -590px;
    background-image: url("@{image-path}/videobox.jpg");
    background-position: center center;
    z-index: 200;

    img.header {
      display: block;
      position: relative;
      margin: 0 auto;
      top: 0;
      z-index: 10;
    }

    iframe.content {
      display: block;
      position: absolute;
      top: 42.5px;
      left: 80px;
    }
  }

  #about {
    margin-top: 80px;
    img {
      display: block;
      margin: 0px auto;

      &.clienttext {
        margin: -80px auto -100px auto;
      }

      &.clients {
        margin: -20px auto;
      }
    }
  }

  #services {
    margin-top: 30px;
    .row img:first-child {
      margin-right: 11px;
    }
  }
}
