RewriteEngine On

# Anything without a filename will just go to /, with the exception being /contact/submit
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_METHOD} ^(HEAD|GET)$
RewriteRule .+ /

# Posting to contact however will not
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^contact email.php
