RewriteEngine On

# Posting to contact will redirect to emailer
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^contact email.php [L]

# Anything else without an extension will just go to /
RewriteCond %{REQUEST_URI} !\.
RewriteRule .+ /
